
@{
    ViewData["Title"] = "View";
}

<h1>Reportes</h1>

<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Reportes" asp-action="TotalXMesero">Total por mesero</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Reportes" asp-action="CunsumoXCliente">Consumo por cliente</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Reportes" asp-action="PlatoMasVendido">Plato mas vendido</a>
        </li>
    </ul>
</div>