<h2 mat-dialog-title>{{tituloAccion}} Cliente</h2>

<mat-dialog-content>
    <form [formGroup]="formularioCliente">
        <mat-grid-list cols="1" rowHeight="80px">

            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Cédula</mat-label>
                    <input type="number" matInput autocomplete="off" formControlName="cedula" matTooltip="Cédula de ciudadanía">
                    <mat-icon matSuffix>account-box</mat-icon>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Nombres</mat-label>
                    <input matInput autocomplete="off" formControlName="nombres">
                    <mat-icon matSuffix>account-box</mat-icon>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Apellidos</mat-label>
                    <input matInput autocomplete="off" formControlName="apellidos">
                    <mat-icon matSuffix>account-box</mat-icon>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Dirección</mat-label>
                    <input matInput type="text" autocomplete="off" formControlName="direccion" matTooltip="Dirección de residencia">
                    <mat-icon matSuffix>addres</mat-icon>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Teléfono</mat-label>
                    <input matInput type="number" autocomplete="off" formControlName="telefono" matTooltip="Número de teléfono">
                    <mat-icon matSuffix>phone</mat-icon>
                </mat-form-field>
            </mat-grid-tile>

            <!-- <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Estado</mat-label>
                    <mat-select formControlName="esActivo">
                        <mat-option value="1">Activo</mat-option>
                        <mat-option value="0">No activo</mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile> -->

        </mat-grid-list>
    </form>

</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close color="warn">Volver</button>
    <button mat-raised-button color="primary" [disabled]="formularioCliente.invalid"
        (click)="guardarEditar_Cliente()">{{botonAccion}}</button>
</mat-dialog-actions>